#runt-webview {
    width: 100%;
    height: 100vh;
    display: none;
}

#paynet-webview {
    width: 100%;
    height: 100vh;
    display: none;
}
#settings-btn {
    position: absolute;
    top: 10%;
    right: 10%;
}


#form-container {
    display: none;
}
.login-img, .login-form {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.logo img {
    width: 10rem;
}
.login-form {
    flex: 1;
    align-items: center;
}
.login-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
    flex-direction: column;

}

#sicov-btn-enabled {
    display: none;
}
.login-title h1 {
    font-size: 2rem;
    font-weight: bold;
}
.login-img {
    flex: 3;
    width: 100%;
    overflow: hidden;
    background: url('../images/login-bg.png') no-repeat;
    background-size: cover;
}
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
#settings-btn img {
   width: 40px;
}
#paynet-webview {
    width: 100%;
    height: 100vh;
    /* display: none; */
}

#status-report {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
    position: absolute;
    top: 10%;
    border: solid 1px black;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

#status-report span {
    font-weight: bold;
    font-size: 18px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
}#notification button {
    margin: 5px;
    min-width: 10rem;
}
#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .hidden {
    display: none;
  }