@font-face {
    font-family: "SohoBold";
    src: url(../fonts/MonotypeSohoGothicProBold.ttf);
}

@font-face {
    font-family: "SohoLight";
    src: url(../fonts/MonotypeSohoGothicProLight.ttf);
}

:root {
    --primary-dark: #1a3b47;
    --primary-pink: #e88aa2;
    --primary-green: #79c5b4;
    --primary-yellow: #fff1bd;
    font-family: "SohoLight";
}

#logout-img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#runt-webview {
    width: 100%;
    height: 100vh;
    display: none;
}

.error-msg {
    background-color: var(--primary-pink) !important;
}

#sicre-webview {
    width: 100%;
    height: 100vh;
    display: none;
}

#form-container {
    /* display: flex; */
    min-height: 100vh;
    min-width: 100vw;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    display: none;
}

#login-container {
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

#failed-revisions {
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    display: none;
}

.initial-form {
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-container {
    border: solid 1px var(--primary-dark);
    min-width: 18rem;
    max-width: 18rem;
    min-height: 40rem;
    max-height: 40rem;
    padding: 1rem;
    overflow-y: auto;
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-yellow);
    font-family: 'SohoBold';
    color: var(--primary-dark);
    padding: 1rem;
    font-size: 2rem;
    margin: 5px 0;
    cursor: pointer;
}

.list-item:hover {
    color: var(--primary-yellow);
    background-color: var(--primary-dark);
}

.is-selected {
    color: var(--primary-yellow);
    background-color: var(--primary-dark);
}


/* width */

.list-container::-webkit-scrollbar {
    width: 15px;
}


/* Track */

.list-container::-webkit-scrollbar-track {
    background: var(--primary-dark);
}


/* Handle */

.list-container::-webkit-scrollbar-thumb {
    background: var(--primary-yellow);
    border-left: 1px solid var(--primary-dark);
}


/* Handle on hover */

.list-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary-yellow);
}

#settings-btn img {
    width: 40px;
}

#settings-btn {
    position: absolute;
    top: 10%;
    right: 10%;
}

.login-img,
.login-form {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.logo img {
    width: 90px;
}

.login-form {
    flex: 1;
    align-items: center;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
    flex-direction: column;
}

#sicov-btn-enabled {
    display: none;
}

.login-content h1 {
    font-size: 2rem;
    font-weight: bold;
}

.login-img {
    flex: 3;
    width: 100%;
    overflow: hidden;
    background: url('../images/login-bg.png') no-repeat;
    background-size: cover;
}

.heading {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-user {
    color: var(--primary-dark);
    font-weight: bold;
}

.navbar {
    display: flex;
    background-color: var(--primary-dark);
    height: 30px;
    width: 100%;
    align-items: center;
}

.footer {
    background-color: var(--primary-dark);
    width: 100%;
}

.navbar .navbar-item {
    color: #ffffff;
    padding: 0 1rem;
    /* margin: 1rem; */
    min-width: 150px;
    cursor: pointer;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .navbar .navbar-item:hover {
    color: var(--primary-dark);
    background-color: white;
} */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-logo img,
.footer-logo img {
    width: 100px;
}

.form-title {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.form-title h1 {
    font-family: "SohoBold";
    color: var(--primary-dark);
    font-size: 3rem;
}

#continue-img {
    display: none;
}

#resume-revision {
    cursor: pointer;
}

.custom-select {
    width: 300px;
    background-color: white;
    font-size: 16px;
    border-bottom: solid 1px gainsboro;
    margin-bottom: 10px;
    padding: 5px 0;
}
.view-icon {
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
    top: 7px;
    right: 5px;
}
#status-report {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
    position: fixed;
    top: 25%;
    /* border: solid 1px black; */
    background-color: var(--primary-yellow);
    color: var(--primary-dark);
    /* border-radius: 30px; */
    text-align: center;
    z-index: 999;
}

#status-report span {
    font-weight: bold;
    font-size: 18px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
}

#notification button {
    margin: 5px;
    min-width: 10rem;
}

#notification {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    opacity: .5;
    color: white;
    font-weight: bold;
}

.hidden {
    display: none;
}

.mdl-textfield {
    padding: 0;
    width: 450px !important;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
}


/* Progress Bar */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.container {
    /* font-family: 'Lato', sans-serif; */
    width: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.nav {
    margin-top: 40px;
}

.pull-right {
    float: right;
}

a,
a:active {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #999;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: pointer;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 180px;
    float: left;
    position: relative;
    background-color: var(--primary-yellow);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 17px solid var(--primary-yellow);
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
    color: #06ac77;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: var(--primary-pink);
}

.arrow-steps .step.current:after {
    border-left: 17px solid var(--primary-pink);
    border-bottom: 20px solid transparent;
}

@media (max-width: 765px) {
    .arrow-steps .step {
        min-width: 35px;
    }
}